name: Lint GitHub Actions

on:
  push:
    branches:
      - main

    paths:
      - '.github/workflows/**'
  pull_request:
    branches:
      - main

    paths:
      - '.github/workflows/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  actionlint:
    name: Validate workflow syntax
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run actionlint
        uses: docker://ghcr.io/rhysd/actionlint:1.7.1
        with:
          args: -color
